// iPhone X 系列设备底部安全区域高度
$iphonex-safe-bottom-height: env(safe-area-inset-bottom);

// iPhone X 系列设备顶部安全区域高度
$iphonex-safe-top-height: env(safe-area-inset-top);

// iPhone X 系列设备导航栏高度
$iphonex-nav-bar-height: 44px + $iphonex-safe-top-height;

// iPhone X 系列设备底部 tabbar 高度
$iphonex-tab-bar-height: 49px + $iphonex-safe-bottom-height;

// 使用 mixin 样式来为 iPhone X 设备添加底部安全区域和顶部安全区域高度
@mixin iphone-x-safe-area {
  padding-bottom: $iphonex-safe-bottom-height;
  padding-top: $iphonex-safe-top-height;
}

// 使用 mixin 样式来为 iPhone X 设备添加底部 tabbar 高度
@mixin iphone-x-tab-bar {
  height: $iphonex-tab-bar-height;
}

// 使用 mixin 样式来为 iPhone X 设备添加导航栏高度
@mixin iphone-x-nav-bar {
  height: $iphonex-nav-bar-height;
}

page {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 28rpx;
  color: $uni-text-color;
  @include iphone-x-safe-area;
}

view,
scroll-view {
  box-sizing: border-box;
}

text,
rich-text {
  word-break: break-all;
  overflow-wrap: break-word;
}

input,
textarea {
  font-weight: normal;
  z-index: 0;
}

// 常用布局
.flex {
  display: flex;
  align-items: center;
}

// 单行省略
.ellispis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 双行省略
.ellispis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// 灰色主题
.gray-theme {
  filter: grayscale(100%);
}
