// 如果你使用create-react-app等React脚手架搭建项目，并且按照规定的命名方式，在组件文件夹中创建了与组件同名的CSS文件（如MyComponent.js和MyComponent.css），那么这个CSS文件会自动被webpack打包并应用到组件中，无需手动引入。
.nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 50%;
  margin: auto;
}
.show {
  width: 100%;
  height: 500px;
  background-color: rgb(114, 114, 114);
  font-size: 40px;
}
